@import url(header.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

@font-face {
  font-family: miFuente;
  src: url(../font/CreteRound.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 100%;
}

p {
  color: #4d4d4d;
}

button {
  padding: 0.2em;
  border: 2px solid black;
  width: 130px;
  height: 50px;
  font-size: 1em;
  text-transform: uppercase;
  background: transparent;
  font-family: miFuente;
  margin-top: 3em;
  border-color: black;
  color: black;
}

header button:hover,
#compra button:hover {
  /* width: 300px; */
  background-color: black;
  color: white;
  transition: 1000ms;
}

#capa {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-delay: 2s;
}

#capa video {
  max-width: 100%;
  height: auto;
}

#imagen {
  display: none;
}

#capa button,
#capa ul {
  border: 1px solid white;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px;
  list-style: none;
}

section img {
  width: 7%;
}
article div {
  display: flex;
  align-items: center;
}

#compra {
  flex-direction: column;
  justify-content: center;
  background-color: #808080;
  color: white;
  width: 100%;
  font-family: miFuente;
}

#compra h3 {
  font-size: 2em;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}

#compra button {
  color: white;
  border-color: white;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #808080;
}

footer ul {
  list-style: none;
}
